body{
  background-color: #dddddd;
}

.container {
  margin: auto;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 1.5rem;
}

header{
  background-color: #aaaaaa;
  color: white;
}
.header{
  padding: .5rem;
  margin: auto;
}


form{

}

label > h5{
  margin-bottom: 0;
}

.fa-spinner{
  animation:  spinner infinite 2s linear;
}

button{
  margin-top: 1rem;
  width: 100%;
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}